.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Exclude environment files from the VSIX
.env
.env.*
**/.env
**/.env.*
.env.defaults
**/.env.defaults

# Optional: exclude GitHub metadata
.github/**
